.keys {
  display: flex;
  flex: 1;
  align-item: center;
  justify-content: center;
}

.header-footer {
    color:blue;
    text-align: center;
}

body {
    border: 1rem solid #ffc600;
    border-radius: 1.5rem;    
}

.key {
  margin: .1rem;
  font-size: 0.8rem;
  padding: .4rem.4rem 0 .4rem;
  transition: all .07s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.6);
  text-shadow: 0 0 .5rem black;
  border: 0.08rem solid blue;
  border-radius: 0.4rem;
}

.playing {
  transform: scale(1.15);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 1rem;
}

.sound {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}


